.window {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.head {
    position: absolute;
    font-size: 40px;
    font-weight: 800;
    padding-top: 40px;
    padding-left: 140px;
    padding-bottom: 60vh;
    align-self: start;
    z-index: 2;
}

.window img {
    position: absolute;
    height: 90%;
}

.goToOlimpicsBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.window a {
    text-decoration: none;
}
.modal {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 20px;
   gap: 10px;
   max-width: 400px;
   background-color: #2c2c2c;
}




@media only screen and (max-width: 776px) {
    .head {
        padding-left: 30px;
    }
}